.notification_notification {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 100%;
     /* Distribute space between profile and content */
    flex-direction: column;
}

.profile_notification {
    width: 5rem;
    background-color: rgb(227, 227, 227);
    margin-right: 15px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    height: 4.5rem;
    display: flex;
}

.notification-content_notification {
    display: flex;
    flex-direction: column; /* Align content in a column */
    width: -webkit-fill-available; /* Adjust width to leave space for date */
}

.fname_notification {
    font-weight: bold;
    margin-bottom: 5px; /* Space between name and text */
}

.text_notification {
    margin-bottom: 5px; /* Space between text and date */
     /* Prevent text wrapping */
     /* Add ellipsis if text overflows */
    font-size: 1rem;
}

.time_notification {
    text-align: right; /* Align date to the right */
}

.notifications-container{display: flex; flex-direction: column;}