.modal-profile {display: none;}
.modal-profile.active {display: block;overflow: auto;z-index: 1;}
.hidden-scroll { overflow: hidden; }
.hidden-container { display: none; }
.visible-container { display: grid; }
.camera-icon {
    bottom: 0px;
    position: relative;
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: min-content;
}
.profile-picture-container {
    position: relative;
    background-color: #b5bcbc;
    border-radius: 50%;
    width: max-content;
    height: max-content;
    padding: 5px;
    grid-column: 1/span2;
    place-self: center;
}
.profile_bio{border-radius: 5px;align-content: center;padding-left: 10px;resize: none;height: min-content;}
.profile-frame1 {top: 100px;padding: 10px;display: flex;grid-template-columns: inherit;width: min-content;place-self: center;}
.profile-row1 {position: relative;grid-column: 1/span 2;/* transform: translate(0px, 0px); */display: grid;justify-content: center;align-items: start;}
.button-profile {grid-column: 2;width: min-content;text-wrap: nowrap;grid-row: 4;font-size: 11px;align-self: end;justify-self: center;}


.formcontainer{display: flex;background-color: #c2c2c2;border-radius: 5px;padding: 10px;flex-direction: column;width: 25rem;gap: 0px;}
.PIcontainer{display: block;position: relative;grid-row: 3;width: -webkit-fill-available;place-items: center;border-radius: 10px;}

.PIcontainer .email{
    font-size: 20px;
    grid-row: 1;
    font-weight: lighter;
}
.PIcontainer .phone{
    position: relative;
    grid-row: 2;
    font-size: 20px;
    font-weight: lighter;
}

.PIcontainer .address{
    position: relative;
    grid-row: 3;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid;
    padding: 5px;
    height: -webkit-fill-available;
    grid-column: 1/ span 2;
    width: -webkit-fill-available;
    /* margin: 15px; */
    border-radius: 5px;
}

.profile_email{
    width: -webkit-fill-available;
    height: min-content;
    border: 1px solid !important;
    background: #c7c7c7;
}
.profile_phone{
    width: -webkit-fill-available;
    height: min-content;
    border: 1px solid !important;
    background: #c7c7c7;
}

.profile_address{
    width: -webkit-fill-available;
    height: min-content;
    border: 1px solid !important;
    background: #c7c7c7;
}
.update_profile{width: -webkit-fill-available;display: grid;grid-template-columns: repeat(2, 45%);grid-template-rows: 0px 90px min-content 1fr;grid-column-gap: 5%;grid-row-gap: 20px;}


.button_bar{
    gap: 10px;
    place-content: flex-start;
    grid-row: 1;
    grid-column: 1;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}



.password_container{
    background-color: #c2c2c2;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
}
/* Add the scaling effect on hover */
.camera-hover-effect {
    transition: transform 0.2s ease-in-out;
}

.camera-hover-effect:hover {
    transform: scale(0.9);
}
   /* grid-template-columns: repeat(2, 50%); */

.button1_profile{
    text-wrap: nowrap;
    width: -webkit-fill-available;
    margin: 10px;
}
.button2_profile{
    width: -webkit-fill-available;
    margin: 10px;
}
.password-update {display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: -webkit-fill-available;}


    .close-button{outline:none !important; border:none;float: right;}
    .error-message{background-color: #f0c4c4;padding: 10px;border-radius: 10px;width:-webkit-fill-available}
    