#applicant-list {
    display: grid;
    text-align: center;
    padding: 10px;
    width: -webkit-fill-available;
}

.notification_frame {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    /* padding: 10px; */
    margin-bottom: 10px;
    border: 1px solid;
}

.applicant-card {
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    align-items: center;
}

.applicant-card span {
    flex: 1;
    margin: 5px;
}

#pagination-controls button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Button hover animations */
.approve-btn {
    background-color: white;
    border: 1px solid #28a745;
    color: #28a745;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.approve-btn:hover {
    background-color: #28a745;
    color: white;
}

.deny-btn {
    background-color: white;
    border: 1px solid #dc3545;
    color: #dc3545;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.deny-btn:hover {
    background-color: #dc3545;
    color: white;
}
.profile-pic {width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-right: 10px;}


.modal-applicant-deny {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

/* Modal Content */
.modal-content-applicant-deny {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/* Close Button inside Modal */
.close-modal {
    position: relative;
    cursor: pointer;
}