

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
main.base_about {
    grid-template-columns: repeat(2, 50%);
    display: grid;
    grid-template-rows: auto;
    margin-top: 8vw;
    position: relative;
    row-gap: 5px;
}

main.base_about .container1 {
    position: relative;
    /* border: 1px solid; */
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
    height: auto;
}

main.base_about .container1 h1 {
    /* position: relative; */
    /* border: 1px solid; */
    grid-row: 1;
    grid-column: 2;
    height: max-content;
    width: max-content;
    font-weight: bold;
    align-self: center;
    transform: translate(0vw, -10vw);
    font-size: 4vw;
}

main.base_about .container1 img {
    /* position:relative; */
    /* border:1px solid; */
    grid-row: 1;
    grid-column: 1;
    /* This will cover the container with the image, cropping it if necessary */
    /* Adjust the position if needed */
    /* background-color: antiquewhite; */
    display: block;
    width: 39vw;
    place-self: end;
    transform: translate(4vw, -2vw);
}

main.base_about .container1 p {
    position: relative;
    /* border:1px solid; */
    grid-row: 1;
    grid-column: 2;
    height: fit-content;
    width: 39vw;
    top: 14vw;
    place-self: baseline;
    font-size: 2vw;
    text-align: justify;
}

main.base_about .container2 {
    position: relative;
    /* border: 1px solid; */
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    height: auto;
    /* overflow: hidden; */
    /* background: antiquewhite; */
}

main.base_about .container2 img {
    position: relative;
    /* border:1px solid; */
    grid-row: 1;
    grid-column: 2;
    /* This will cover the container with the image, cropping it if necessary */
    /* Adjust the position if needed */
    /* background-color: antiquewhite; */
    display: block;
    width: 25vw;
    place-self: flex-start;
    transform: translate(7vw, -1vw);
    justify-self: center;
}

main.base_about .container2 p {
    position: relative;
    /* border:1px solid; */
    grid-row: 1;
    grid-column: 1/span2;
    height: fit-content;
    width: 60vw;
    place-self: start;
    font-size: 2.2vw;
    text-align: center;
    align-self: start;
    transform: translate(7vw, 0px);
}

main.base_about .container3 {
    display: grid;
    position: relative;
    /* border: 1px solid; */
    grid-row: 3;
    /* background-color: aqua; */
    grid-column: 1/span 2;
    grid-template-columns: 50% 50%;
}

main.base_about .container3 img {
    position: relative;
    grid-row: 1;
    place-self: center;
    transform: translate(-15vw, 3vw);
    align-self: flex-start;
}

main.base_about .container3 p {
    position: relative;
    width: 76vw;
    /* border: 1px solid; */
    grid-row: 1;
    transform: translate(-35vw, 0px);
    height: min-content;
    font-size: 2.1vw;
    text-align: center;
}

main.base_about .container4 {
    position: relative;
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
    height: auto;
    /* background-color: antiquewhite; */
    justify-content: center;
    row-gap: 5px;
}

main.base_about .container4 h1 {
    grid-row: 1;
    grid-column: 1/span 2;
    font-weight: bold;
    font-size: 3vw;
    justify-self: center;
    margin: 0;
}

main.base_about .container4 img {
    
    
    
    /* This will cover the container with the image, cropping it if necessary */
    /* Adjust the position if needed */
    width: 4vw;
    float: left;
}

main.base_about .container4 p {
    position: relative;
    grid-row: 2;
    grid-column: 1;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    column-gap: 0.5rem;
    padding: 0;
}

main.base_about .container4 .Facebook {position: relative;grid-row: 3;grid-column: 1;margin: 0.2rem;display: flex;align-items: center;width: -webkit-fill-available;column-gap: 0.5rem;padding: 0;}

main.base_about .container4 .Facebook img {
    position: relative;
    float: left;
}

main.base_about .container4 .gmail {position: absolute;grid-row: 4;grid-column: 1;margin: 0.2rem;display: flex;align-items: center;width: -webkit-fill-available;column-gap: 0.5rem;padding: 0;font-size: 2.1vw;}

main.base_about .container4 .gmail img {
    position: relative;
}
a:hover {
    color: black;
    text-decoration: underline;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 100;
}

@media (max-width: 700px) {



    main.base_about .container4 h1 {
        position: relative
    }

    main.base_about .container4 p {
        font-size: 2.1vw;
        margin: 0.2rem;
    }

    main.base_about .container4 .Facebook {
        position: relative;
        font-size: 2.1vw;
        margin: 0.2rem;
    }

    main.base_about .container4 .gmail {
        position: absolute;
        font-size: 2.1vw;
        margin: 0.2rem;
    }

    main.base_about .container4 .gmail img {
        position: relative;
    }

    main.base_about .container3 {
        position: relative;
        /* border: 1px solid; */
        grid-row: 3;
    }

    main.base_about .container3 img {
        position: relative;
        width: 7vw;
    }

    main.base_about .container3 p {
        position: relative;
    }

    main.base_about .container1 h1 {
        position: relative;
        align-self: center;
        font-size: 9vw;
    }

    main.base_about .container1 img {
        transform: translate(1vw, -5vw);
        position: relative;
        width: 65vw;
        align-self: center;
    }

    main.base_about .container1 p {
        position: relative;
        font-size: 3vw;
        width: 75vw;
        inset-block-start: auto;
        transform: translate(0px, -8vw);
    }

    main.base_about .container2 img {
        transform: translate(1vw, -8vw);
        position: relative;
        width: 30vw;
        align-self: center;
    }

    main.base_about .container2 p {
        position: relative;
        font-size: 3vw;
        width: 90vw;
        inset-block-start: auto;
        transform: translate(0px, -5vw);
        align-self: center;
    }

    main.base_about .container1 {
        /* position:relative; */
        /* border: 1px solid; */
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        /* justify-content: center; */
        flex-direction: column;
        /* align-items: center; */
    }

    main.base_about .container2 {
        position: relative;
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
    }


    /* _____________________________________________________________ */
    .footer {
        font-size: 2.5vw;
    }

    .boxes-container {
        overflow: hidden;
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 7px;
        right: 1.45rem;
        top: 70px;
        gap: 20px;
        z-index: 1;
    }

    .box {
        text-indent: -9999px;
        background-color: white;
        border-radius: 45%;
    }

    .menu-icon {
        display: block;
    }

    @keyframes menu-open {
        0% {
            height: 0;
            opacity: 0;
        }

        100% {
            height: 300px;
            opacity: 1;
        }
    }

    @keyframes menu-close {
        0% {
            height: 300px;
            opacity: 1;
        }

        100% {
            height: 0;
            opacity: 0;
        }
    }

    .boxes-container.open {
        display: flex;
        animation: menu-open 0.3s ease-in-out forwards;
        z-index: 1;
    }

    .boxes-container.close {
        display: flex;
        animation: menu-close 0.3s ease-in-out forwards;
    }
}



.google {
    width: -webkit-fill-available; /* 80% of the viewport width */
    height: 260px; /* 60% of the viewport height */
    grid-column: 2;
    grid-row: 2/span 4;
    position: relative;
    padding: 5px;
  }
  