
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.container-signup {
    display: grid;
    place-items: center;
    height: 100vh;
}

.form-box-signup {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #000;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.input-box-signup {
    display: flex;
    flex-direction: column;
}

.input-box-signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.checkbox-group {
    margin: 10px 0;
}

.checkbox-group label {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.btn-signup {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.btn-signup:hover {
    background-color: #0056b3;
}

.toggle-password-signup {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}



/* ___________________________________ */

.container-login {
    JUSTIFY-SELF: CENTER;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    width: auto;
    position: relative;
    white-space: nowrap;
    margin-top: 3rem;
}

.form-box-login {
    width: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #000;
}

.input-box-login {
    position: relative;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.toggle-password-login {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgot-password-login {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password-login a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password-login a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.btn-login:hover {
    background-color: #0056b3;
}

.signup-link-login {
    text-align: center;
    margin-top: 20px;
}

.signup-link-login a {
    color: #007bff;
    text-decoration: none;
}

.signup-link-login a:hover {
    text-decoration: underline;
}

.eye{position: relative;width: 25px;}


main.base_signin{display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: center;}
a:hover {
    color: black;
    text-decoration: underline;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 100;
}
@media (max-width: 700px){/* _____________________________________________________________ */
   .footer {
    font-size: 2.5vw;
}

.boxes-container {
    overflow: hidden;
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 7px;
    right: 1.45rem;
    top: 70px;
    gap: 20px;
    z-index: 1;
}

.box {
    text-indent: -9999px;
    background-color: white;
    border-radius: 45%;
}

.menu-icon {
    display: block;
}

@keyframes menu-open {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 300px;
        opacity: 1;
    }
}

@keyframes menu-close {
    0% {
        height: 300px;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

.boxes-container.open {
}

.boxes-container.close {
    display: flex;
    animation: menu-close 0.3s ease-in-out forwards;
}
}






.forgot_password-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    place-self: center;
    white-space: nowrap;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.forgot_password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.forgot_password-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.forgot_password-form input {
    width: 16rem;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.forgot_password-form button {
    width: -webkit-fill-available;
    padding: 5px;
    background-color: #3F51B5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.forgot_password-form button:hover {
    background-color: #45a049;
}

.error_message_forgotpassword{
    text-align: center;
    margin: 0;
}