header{
    margin: 0px;
}
footer{
    width: -webkit-fill-available;
    grid-row: auto;
    display: flex;
    margin-top: 20px;
}
    .footer {
        position: absolute;
        width: inherit;
        height: inherit;
        bottom: 0;
        background-color: #4e69ff;
        color: #fff;
        display: flex;
        font-size: smaller;
        justify-content: center;}

.footer_announcement{width: inherit;background-color: #4e69ff;color: #fff;display: flex;font-size: smaller;justify-content: center;position: relative;}
.footer_announcement a{color: #fff;text-decoration: none;}
.footer_announcement p{margin:5px}

footer p{margin:5px}
body, html {background: linear-gradient(to bottom, #3636fb, lightblue, #ffffff);background-repeat: no-repeat;display: grid;grid-template-rows: auto;}
main.base {grid-template-columns: repeat(2, 50%);display: grid;grid-template-rows: 57vw 25vw min-content;position: relative;row-gap: 10px;}
main.base_announcement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-box {width: auto;height: auto;}.menu-icon {font-size: 24px;cursor: pointer;display: none;  }.boxes-container {font-weight: normal;display: flex;gap: 50px;opacity: 1;font-size: 13px;text-shadow: 0 0 black;}.box {width: 40px;height: 40px;display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: center;text-align: -webkit-center;color: black;}.image {width: -webkit-fill-available;height: -webkit-fill-available;border: 1px solid;border-radius: 30%;width: 40px;padding: 2px;border-color: black;}.home {border: 1px solid #000;width: 50px;height: 50px;color: #fff;}.text_description1{font-size: 3vw;font-weight: bold;color: black;}.box_a{transform: translate(5vw, 1vw); width: 45vw;height: min-content;justify-self: center;align-self: center;}.box_b{transform: translate(-8vw, 1vw); width: 45vw;height: min-content;justify-self: center;align-self: center;}.sample_img{transform: translate(50px, 0px); width: 35vw;}.box_c{width: auto;height: min-content;grid-column: 1/span 2;grid-row: 2;display: grid;grid-template-rows: 6vw 3.5vw 10vw 5vw;}.box_c .txt1{grid-row: 1;place-self: center;color: black;font-weight: bold;}.box_c .txt2{grid-row: 2;width: max-content;font-size: 2.1vw;place-self: center;transform: translate(-21vw, 0px);height: 41px;text-decoration-thickness: 1px;}.box_c .txt2 img{width: 4vw;transform: translate(2px, -5px);}.box_c .txt3{grid-row: 3;text-align: justify;width: 90vw;font-size: 2.5vw;align-self: center;justify-self: center;color: black;font-weight: normal;}.box_c .txt4{grid-row: 4;width: max-content;font-size: 2.1vw;place-self: center;transform: translate(-16.6vw, 0px);height: 41px;text-decoration-thickness: 1px;}.box_c .txt4 img{width: 4vw;transform: translate(-3px, -5px);}
    .box_d{grid-column: 1/span 2;column-gap: 2%;position: inherit;grid-row: 4;display: grid;grid-template-columns: repeat(2, min-content);grid-template-rows: auto auto 35vw;justify-content: center;}
    .box_d .section1{transform: translate(-1vw, 1vw);padding: 10px;text-align: justify;height: min-content;position: relative;background-color: #e7eeffb0;border-radius: 10px;width: min-content;justify-self: end;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);border: 1px solid #0000001c;}
    .box_d .section1 img{width: 3.5vw;}
    .box_d .section1 h2{position: relative;font-size: 3vw;white-space: nowrap;margin: 3px;}
    .box_d .section1 p{position: relative;font-size: 1.3vw;}
    .box_d .section2{
    transform: translate(-1vw, 1vw);
    padding: 10PX;
    text-align: justify;
    height: min-content;
    position: relative;
    background-color: #e7eeffb0;
    border-radius: 10px;
    width: min-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #0000001c;
}
    .box_d .section2 img{width: 3.5vw;}
    .box_d .section2 h2{position: relative;font-size: 3vw;white-space: nowrap;margin: 3px;}
    .box_d .section2 p{position: relative;font-size: 1.3vw;}
    .box_d .section3{transform: translate(-1vw, -2vw);padding: 10px;text-align: justify;height: min-content;position: relative;background-color: #e7eeffb0;border-radius: 10px;width: -webkit-fill-available;justify-self: self-end;border: 1px solid #0000001c;}
    .box_d .section3 img{width: 3.5vw;}
    .box_d .section3 h2{position: relative;font-size: 3vw;margin: 3px;}
    .box_d .section3 p{position: relative;font-size: 1.3vw;}
    .box_d .section4{
    transform: translate(-1vw, 3vw);
    padding: 10px;
    text-align: justify;
    height: min-content;
    position: relative;
    background-color: #e7eeffb0;
    border-radius: 10px;
    width: -webkit-fill-available;
    justify-self: end;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #0000001c;
}
    .box_d .section4 img{width: 2.9vw;}
    .box_d .section4 h2{position: relative;font-size: 1.9vw;margin: 3px;}
    .box_d .section4 p{position: relative;font-size: 1.3vw;}
    .box_d .section5{
    transform: translate(-1vw, 1vw);
    padding: 10px;
    text-align: justify;
    height: min-content;
    position: relative;
    background-color: #e7eeffb0;
    border-radius: 10px;
    width: -webkit-fill-available;
    justify-self: end;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
    .box_d .section5 h2{position: relative;font-size: 1.9vw;margin: 3px;}
    .box_d .section5 p{position: relative;font-size: 1.3vw;}


  
@media (max-width: 700px) {
    .footer{font-size: 2.5vw;}
    
    .box_d .section5 img{width: 3.5vw;}
    .box_d .section5 h2{position: relative;font-size: 3vw;margin: 3px;}
    .box_d .section5 p{position: relative;font-size: 1.3vw;}
    .footer{position: absolute;width: inherit;height: inherit;bottom: 0;background-color: #4e69ff;color: #fff;display: flex;font-size: smaller;justify-content: center;}.footer a{color: #fff;text-decoration: none;}
    /* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
    a:hover {
        color: black;
        text-decoration: underline;
    }
    .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
        opacity: 100;
    }
    
    
     footer{width: -webkit-fill-available;grid-row: 5;}
        footer p{margin: 0.1rem;font-size: 0.5rem;}
        .box_d{position: inherit;grid-row: 4;display: grid;grid-template-columns: repeat(2, min-content);grid-template-rows: auto auto 35vw;justify-content: center;}
    




    .box_c{
    width: inherit;
    height: inherit;
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    }
    .box_c .txt1{
    grid-row: 1;
    font-size: 8vw;
    height: auto;
    }
    .box_c .txt2{
    height: auto;
    text-decoration-thickness: 1px;
    }
    .box_c .txt2 img{
    width: 4vw;
    transform: translate(2px, -5px);
    }
    .box_c .txt3{
    grid-row: 3;
    align-self: center;
    color: black;
    height: auto;
    }
    .box_c .txt4{
    height: auto;
    text-decoration-thickness: 1px;
    }
    .sample_img{width: 40vw;}
    .box_a{
    transform: translate(0px, 0px);
    width: 90vw;
    height: min-content;
    justify-self: center;
    align-self: center;
    grid-row: 1;
    }.box_b{
    grid-row: 2;
    top: 0;
    left: 0;
    position: relative;
    }
    
    .text_description1{
    font-size: 5.5vw;
    text-align: center;
    }
    .box_row1 { width: 250px;}
    main.base{grid-template-columns: auto;grid-template-rows: auto;gap: 10px;}
    .boxes-container {
    overflow: hidden;
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 7px;
    right: 1.45rem;
    top: 70px;
    gap:20px;
    z-index: 1;
    }
    .box {
    text-indent: -9999px;
    background-color: white;
    
    border-radius: 45%;
    }
    .menu-icon {
    display: block;
    }
    @keyframes menu-open {
    0% {
    height: 0;
    opacity: 0;
    }
    100% {
    height: 300px;
    opacity: 1;
    }
    }
    @keyframes menu-close {
    0% {
    height: 300px;
    opacity: 1;
    }
    100% {
    height: 0;
    opacity: 0;
    }
    }
    .boxes-container.open {
    display: flex;
    animation: menu-open 0.3s ease-in-out forwards;
    z-index: 1;
    align-items: center;
    align-content: center;
    flex-direction: column;
    }
    .boxes-container.close {
    display: flex;
    animation: menu-close 0.3s ease-in-out forwards;
    }
}