<html lang="en"><head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .mainframe {
        border: 1px solid;
        width: -webkit-fill-available;
        margin: 40px;
        height: min-content;
    }
    header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    </style>
    </head><body style="display: flex;justify-content: center;margin: 0px 315px 0px 315px;">
        <main class="mainframe">
            <header>
                <h6 style="font-size: 14px;font-family: auto;margin-bottom: 3px;">Republic of the Philippines</h6>
                <h6 style="font-size: 10px;font-family: auto;margin-bottom: 0;">MUNICIPALITY OF BUSTOS</h6>
                <h4 style="font-family: auto;margin: 0;font-weight: 500;">PESO Office Reports</h4>
                <h4 style="font-weight: 900;font-size: 22px;">PUBLIC EMPLOYMENT SERVICE OFFICE</h4>
                <p style="margin: 0;font-size: xx-small;">Email: pesobustos@gmail.com / Facebook Page: facebook.com/PesoBustos / Address: 2nd floor Annex Building Municipal Compound Poblacion, Bustos, Philippines</p>
                <div style="width: -webkit-fill-available;border: 1px solid;margin: 0;padding: 0;"></div>
            </header>
    
        </main>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    </body></html>