<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="static/css/admin/admin_navigation.css">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body style="margin: 0; display: flex;">
    {% include 'admin/admin_navigation.html' %}
    {% include 'admin/admin_dashboard.html' %}
    {% include 'admin/admin_employers.html' %}
    {% include 'admin/admin_jobseekers.html' %}
    {% include 'admin/admin_jobs.html' %}
    {% include 'admin/admin_announcements.html' %}
    {% include 'admin/admin_notifications.html' %}
    {% include 'admin/admin_registration.html' %}
    {% include 'admin/admin_ratings.html' %}
    {% include 'admin/admin_reports.html' %}
</body>
<script>
    window.onload = function() {
        const announcementID = document.getElementById('announcementID').value; 
        fetchJobseekers();
        registrationFetchUsers();
        fetchRatings(rating_currentPage);
        fetchEmployers();
        fetchJobs();
        announcement_applyFilter();
        updateData();

        // Refresh data every 60 seconds
        setInterval(function() {
            fetchJobseekers();
            registrationFetchUsers();
            fetchRatings(rating_currentPage);
            fetchEmployers();
            fetchJobs();
            announcement_applyFilter();
            updateData();
            
        }, 60000); // 60 seconds = 60,000 milliseconds
    }
</script>
</html>