
.mainframe {
    /* border: 1px solid; */
    width: -webkit-fill-available;
    margin: 40px;
    height: min-content;
}
header {
    display: grid;
    justify-items: center;
    grid-template-rows: 0px min-content;
}
.noRegistered {
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
#registrationChart {
    width: 50% ; /* Make it responsive to the container */
    height: auto ; /* Maintain aspect ratio */
}

#hiredChart {
    width: 50% ; /* Make it responsive to the container */
    height: auto ; /* Maintain aspect ratio */
}
.noApplicant {
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
#ratingsChart {
    width: 50% ; /* Make it responsive to the container */
    height: auto ; /* Maintain aspect ratio */
}
.noRatings {
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}