<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/about.css">
    <!-- Bootstrap and custom JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js" defer=""></script>
    <title>Home</title>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header style="padding: 10px;">
        <div class="container" style="max-width: -webkit-fill-available;">
            <div class="d-flex justify-content-between align-items-center py-2">
                    <a href="/" class="logo-box">
                        <img src="/static/images/jobahanap.png" style="max-width: 200px;" alt="Logo">
                    </a>
                <button class="menu-icon btn btn-primary d-md-none" onclick="toggleMenu()">☰</button>
                <div class="boxes-container close" id="boxes-container">
                    <a href="/" class="box">
                        <img class="image" src="/static/images/home.png" alt="Logo">
                    Home</a>
                    <a href="/announcement" class="box">
                        <img class="image" src="/static/images/announcement.png" alt="Logo">
                    Announcement</a>
                    <a href="/about#" class="box">
                        <img class="image" src="/static/images/aboutus.png" alt="Logo">
                    About Us</a>
                    <a href="/about#contact" class="box">
                        <img class="image" src="/static/images/contactus.png" alt="Logo">
                    Contact Us</a>
                    <a href="/signin" class="box">
                        <img class="image" src="/static/images/signin.png" alt="Logo">
                    Sign In</a>

                </div>
            </div>
        </div>
    </header>

    <main>
      <div class="container1">
        <img src="/static/images/image_2.png" alt="Logo">
        <h1>About Us</h1>
        <p>Jobahanap is a platform that connects job seekers with employers. It provides a centralized location for job seekers to find and apply for jobs, and for employers to post job openings.</p>
      </div>

      <div class="container2">
        <img src="/static/images/peso_logo.png" alt="Logo">
        <p>The Republic Act No. 8759 known as the Public Employment Service Office (PESO) Act was established and accredited by the Department of Labor and Employment (DOLE) in 1999. PESO is a free multi-employment service facility managed by Local Government Units (LGUs) and State Universities and Colleges (SUCs) that upholds equal employment opportunities to every individual covered in the locality.</p>
      </div>
      <div class="container3">
        <img src="/static/images/goal.png" alt="Logo">
        <p>PESO aims to fill job vacancies through referral and placement, career counseling, trainings, and seminars. PESO accommodates various individuals including job seekers, employers, students, out-of-school youth, migratory workers, and persons with disabilities.</p>
      </div>

      <div class="container4" id="contact">
        <h1>GET IN TOUCH</h1>
        <img src="/static/images/address.png" alt="Logo">
        <p>2nd floor Annex Building Municipal Compound Poblacion, Bustos, Philippines</p>
        
        <a class="Facebook">
            <img src="/static/images/facebook.png" alt="Logo">Visit our Facebook Page
        </a>
        <a class="gmail">
            <img src="/static/images/gmail.png" alt="Logo">Contact us via email
        </a>
        <div class="google">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.123456789!2d120.987654321!3d14.123456789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x123456789abcdef!2sPublic%20Employment%20Service%20Office%20-%20Bustos!5e0!3m2!1sen!2sph!4v1631234567890!5m2!1sen!2sph"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          
    </div>


      <footer>
        <div class="footer">
                    <p>&copy; 2023 Jobahanap. All rights reserved.</p>
    </footer>
</main> 
</body>
</html>