{% extends 'menu/menu_navigation.html' %}
{% block content %}
    <main class="base_about">
      <div class="container1">
        <img src="/static/images/image_2.png" alt="Logo">
        <h1>About Us</h1>
        <p>Jobahanap is a platform that connects job seekers with employers. It provides a centralized location for job seekers to find and apply for jobs, and for employers to post job openings.</p>
      </div>

      <div class="container2">
        <img src="/static/images/peso_logo.png" alt="Logo">
        <p>The Republic Act No. 8759 known as the Public Employment Service Office (PESO) Act was established and accredited by the Department of Labor and Employment (DOLE) in 1999. PESO is a free multi-employment service facility managed by Local Government Units (LGUs) and State Universities and Colleges (SUCs) that upholds equal employment opportunities to every individual covered in the locality.</p>
      </div>
      <div class="container3">
        <img src="/static/images/goal.png" alt="Logo">
        <p>PESO aims to fill job vacancies through referral and placement, career counseling, trainings, and seminars. PESO accommodates various individuals including job seekers, employers, students, out-of-school youth, migratory workers, and persons with disabilities.</p>
      </div>

      <div class="container4" id="contact">
        <h1>GET IN TOUCH</h1>
        
        <p><img src="/static/images/address.png" alt="Logo">2nd floor Annex Building Municipal Compound Poblacion, Bustos, Philippines</p>
        
        <a class="Facebook">
            <img src="/static/images/facebook.png" alt="Logo">Visit our Facebook Page
        </a>
        <a class="gmail">
            <img src="/static/images/gmail.png" alt="Logo">Contact us via email
        </a>
        <!-- <div class="google">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.123456789!2d120.987654321!3d14.123456789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x123456789abcdef!2sPublic%20Employment%20Service%20Office%20-%20Bustos!5e0!3m2!1sen!2sph!4v1631234567890!5m2!1sen!2sph"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div> -->
          <div class="google"><iframe style="width: -webkit-fill-available; height: -webkit-fill-available; border: 1px solid;"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=2nd%20floor%20Annex%20Building%20Municipal%20Compound%20Poblacion,%20Bustos,%20Philippines+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>



    </div>


      <footer>
        <div class="footer">
                    <p>&copy; 2023 Jobahanap. All rights reserved.</p>
    </footer>
</main> 

{% endblock %}