<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap and custom JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js" defer=""></script>
    <title>Home</title>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header style="padding: 10px;">
        <div class="container" style="max-width: -webkit-fill-available;">
            <div class="d-flex justify-content-between align-items-center py-2">
                    <a href="/" class="logo-box">
                        <img src="/static/images/jobahanap.png" style="max-width: 200px;" alt="Logo">
                    </a>
                <button class="menu-icon btn btn-primary d-md-none" onclick="toggleMenu()">☰</button>
                <div class="boxes-container close" id="boxes-container">
                    <a href="/" class="box">
                        <img class="image" src="/static/images/home.png" alt="Logo">
                    Home</a>
                    <a href="/announcement" class="box">
                        <img class="image" src="/static/images/announcement.png" alt="Logo">
                    Announcement</a>
                    <a href="/about#" class="box">
                        <img class="image" src="/static/images/aboutus.png" alt="Logo">
                    About Us</a>
                    <a href="/about#contact" class="box">
                        <img class="image" src="/static/images/contactus.png" alt="Logo">
                    Contact Us</a>
                    <a href="/signin" class="box">
                        <img class="image" src="/static/images/signin.png" alt="Logo">
                    Sign In</a>

                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="box_a"> <h1 class="text_description1"><span style="font-size:4vw">Bustosenyo,</span><br><span style="font-weight: normal;">come and join us to find your</span><br><span style="color:blue">Dream</span> Job <span style="color: blue;">easily and fast</span></h1>
        </div>
        <div class="box_b"> 
            <img class="sample_img" src="/static/images/image_1.png" alt="Logo">
        </div>
        <div class="box_c"> 
            <h1 class="txt1">How It Works</h1>
            <a href="/" class="txt2"><img sample_img" src="/static/images/create.png" alt="Logo">Create an Account<br></a>
            <h2 class="txt3">Click the sign in button and then find the sign up to create an account.
                To create an account, you will need your Google account and password.</h2>
                <a href="/" class="txt4"><img sample_img" src="/static/images/registration.png" alt="Logo">Fill out the registration form<br></a>
            </div>
        <div class="box_d">
            <section class="section1">
                <img sample_img" src="/static/images/jobseeker.png" alt="Logo">
                <h2>as Job Seeker</h2>
                <p>Fill up all the information needed from step 1 to step 9. Make sure to input and choose the correct information needed.</p>
            </section>
            <section class="section2">
                <img sample_img" src="/static/images/client.png" alt="Logo">
                <h2>as an Employer</h2>
                <p>Fill up the basic informations needed and upload the documents that the PESO required for the legitimacy of the business like BIR certificate of Registration, and any of the documents that depends on the employer type such as private, overseas, local agency, etc.</p>
            </section>      
            <section class="section3">
                <img sample_img" src="/static/images/search.png" alt="Logo">
                <h2>Find Job</h2>
                <p>After the registration, in order to find job that meets the applicants preference. There is an advanced search button wherein the applicant needs to answer like, the skill they have, their preferred locations, experience, salary and etc.</p>
            </section>
            <section class="section4">
                <img sample_img" src="/static/images/resume.png" alt="Logo">
                <h2>How Employers Post Job</h2>
                <p>Once the employers have completed their registration, they can now post the job vacancy. On the home page, there is a post button where employers need to fill out certain information, like company name, locations, job title, salary, quantity of the job vacant, and a detailed job description together with the requirements they need.</p>
            </section>  
            <section class="section5">
                <img sample_img" src="/static/images/post.png" alt="Logo">
                <h2>Apply Job</h2>
                <p>Once you find the job you want, simply click the apply button and send your resume and other application materials. Check on your application status for future interviews and other application progress.</p>
            </section>                              
        </div>
        <footer>
            <div class="footer">
                        <p>&copy; 2023 Jobahanap. All rights reserved.</p>
        </footer>
    </main>

</body></html>