<!-- Profile Modal Background -->
<div id="modal-profile" class="modal-profile fixed inset-0 bg-gray-800 bg-opacity-50 justify-center items-center">
    <!-- Profile Modal Container -->
    <div class="profile-frame1 bg-white p-8 rounded-lg shadow-lg w-full mx-auto relative grid grid-cols-2 grid-rows-auto gap-4">
        
        
        <!-- Close Button -->
<!-- Close Button -->
<button id="close-profile-btn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700" style="transform: translate(-5px, 5px);">
    <img src="{{ url_for('static', filename='images/close.png') }}" alt="Close" class="w-6 h-6">
</button>


        <!-- Toggle Buttons -->
        <div class="button_bar flex justify-center mb-4">
            <button type="button" onclick="showPersonalInfo()" class="button1_profile bg-gray-300 px-4 py-2 rounded ml-2">Personal Information</button>
            <button type="button" onclick="showPassword()" class="button2_profile bg-gray-300 px-4 py-2 rounded ml-2">Change Password</button>
        </div>

        <!-- Container for Profile Picture and Forms -->
        <div style="grid-column: 2;">
            <form id="personal-info-form" action="/jobseeker_update_profile" method="post" enctype="multipart/form-data" class="formcontainer">
                <div class="profile-picture-container">
                    <!-- Profile Picture Circle -->
                    <img id="profile-picture" class="w-24 h-24 rounded-full object-cover" src="{{ url_for('static', filename=user_data[6]) }}" alt="Profile Picture">
                    <!-- <img id="profile-picture" class="w-24 h-24 rounded-full object-cover" src="{{ url_for('static', filename= user_data[6]) }}" alt="Profile Picture"> -->

                    <!-- Camera Icon -->
                    <label for="profile-picture-input" class="camera-icon absolute">
                        <img src="/static/images/camera.png" alt="Camera Icon" class="w-6 h-6 camera-hover-effect text-gray-600">
                        <input type="file" id="profile-picture-input" name="profile_picture" class="hidden">
                    </label>
                    
                </div>

                <!-- Profile Information -->
                <label style="align-self: center;">{{user_data[3]}}</label>
                <input id="bio" name="bio" class="profile_bio " placeholder="Write your bio here (up to 30 words)" maxlength="30" value="{{user_data[9]}}" spellcheck="false">

                <div class="PIcontainer mt-4">
                    <h6 class="email">Email:</h6>
                    <input type="email" id="email" name="email" class="profile_email  w-full h-24 p-2 border border-gray-300 rounded resize-none" spellcheck="false" placeholder="Email" value="{{user_data[1]}}" disabled>
                    <h6 class="phone">Phone:</h6>
                    <input type="text" id="phone" name="phone" class="profile_phone w-full p-2 border border-gray-300 rounded" placeholder="Phone" value="{{ user_data[5] }}" maxlength="11" minlength="11" pattern="\d{11}" title="Please enter exactly 11 digits" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                    <h6 class="address">Address:</h6>
                    <textarea class="address resize-none mt-4" type="text" id="address" name="address" placeholder="Address" spellcheck="false" maxlength="80">{{user_data[10]}}</textarea>
                </div>

                <button type="submit" class="button-profile bg-blue-500 text-white px-4 py-2 rounded mt-4">Update Profile</button>
            </form>

            <!-- Form for Changing Password -->
            <form id="password-form" action="/change_password" method="post" class="password_container" style="display: none;">
                <div class="col-span-2 flex flex-col items-center justify-center">
                    <div class="password-update mt-4">
                        <h3 class="text-xl font-bold mb-4">Change Password</h3>
                        
                        <div id="password-error-message" class="error-message mt-4" style="display: none;">
                            <span id="error-text"></span>
                            <button type="button" id="close-error-message" class="close-button">&times;</button>
                        </div>

                        <label for="oldpassword" class="block mb-2">Old Password:</label>
                        <input type="password" id="oldpassword" name="oldpassword" class="w-full p-2 border border-gray-300 rounded mb-4" placeholder="Old Password" required autocomplete="current-password">
                
                        <label for="newpassword" class="block mb-2">New Password:</label>
                        <input type="password" id="newpassword" name="newpassword" class="w-full p-2 border border-gray-300 rounded mb-4" placeholder="New Password" required autocomplete="new-password">
                
                        <label for="confirmpassword" class="block mb-2">Confirm New Password:</label>
                        <input type="password" id="confirmpassword" name="confirmpassword" class="w-full p-2 border border-gray-300 rounded mb-4" placeholder="Confirm New Password" required autocomplete="new-password">
                
                        <button type="submit" class="button-profile bg-blue-500 text-white px-4 py-2 rounded">Change Password</button>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>

<script>
    // Function to open the profile modal
    function openProfile() {
        document.getElementById('modal-profile').classList.add('active');
        document.body.classList.add('hidden-scroll');
    }

    // Close button functionality
    document.getElementById('close-profile-btn').addEventListener('click', () => {
        document.getElementById('modal-profile').classList.remove('active');
        document.body.classList.remove('hidden-scroll');
    });

    // Close modal when clicking outside of it
    document.getElementById('modal-profile').addEventListener('click', function(event) {
        if (event.target === this) {
            this.classList.remove('active');
            document.body.classList.remove('hidden-scroll'); // Re-enable scrolling on body
        }
    });

    // Profile picture change functionality
    document.getElementById('profile-picture-input').addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (e) => {
                document.getElementById('profile-picture').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    // Show personal information form
    function showPersonalInfo() {
        document.getElementById('personal-info-form').style.display = 'flex';
        document.getElementById('password-form').style.display = 'none';
    }

    // Show password change form
    function showPassword() {
        document.getElementById('personal-info-form').style.display = 'none';
        document.getElementById('password-form').style.display = 'grid';
    }

    // Password change form submission handling
    document.getElementById('password-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        const oldPassword = document.getElementById('oldpassword').value;
        const newPassword = document.getElementById('newpassword').value;
        const confirmPassword = document.getElementById('confirmpassword').value;
        const errorMessageDiv = document.getElementById('password-error-message');
        const errorTextSpan = document.getElementById('error-text');

        errorMessageDiv.style.display = 'none'; // Hide error message by default
        errorTextSpan.innerHTML = ''; // Clear previous error message

        if (!oldPassword || !newPassword || !confirmPassword) {
            errorTextSpan.innerHTML = "All fields are required";
            errorMessageDiv.style.display = 'block'; // Show error message
            return;
        }

        if (newPassword !== confirmPassword) {
            errorTextSpan.innerHTML = "Password does not match";
            errorMessageDiv.style.display = 'block'; // Show error message
            return;
        }

        // Create a FormData object to send form data via AJAX
        const formData = new FormData(this);

        fetch('/change_password', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Password change was successful, handle accordingly
                errorTextSpan.innerHTML = "Password successfully updated";
                errorMessageDiv.style.color = 'green'; // Change text color to green
                errorMessageDiv.style.backgroundColor = '#dff0d8'; // Light green background
                errorMessageDiv.style.display = 'block'; // Show success message
            } else {
                // Display server-side error message
                errorTextSpan.innerHTML = data.error_message;
                errorMessageDiv.style.color = 'red'; // Keep text color red for errors
                errorMessageDiv.style.backgroundColor = '#fdd'; // Light red background
                errorMessageDiv.style.display = 'block'; // Show error message
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // Close error message on button click
    document.getElementById('close-error-message').addEventListener('click', function() {
        document.getElementById('password-error-message').style.display = 'none';
    });
</script>